@model BillSystemHsenid.Models.DefineItems
@{
    ViewData["Title"] = "Create Item";
}
<h3>Create Item</h3>
<form typeof="post" asp-action="Create">
        <div class="mt-3">
        <label asp-for="ItemName">Items</label>
        <input asp-for="ItemName" class="form-control" required />
        </div>
        <div class="mt-3">
            <label asp-for="AvailableQuantity">Quantity</label>
            <input type="number" asp-for="AvailableQuantity" class="form-control" />
        </div>
        <div class="mt-3">
            <label asp-for="Price">Price</label>
            <input type="number" asp-for="Price" class="form-control" />
        </div>
        
    <div class="mt-3">
       <button type="submit" class="btn btn-primary">Create</button>
        <button asp-action="Index" class="btn btn-primary m-2">Clear</button>
    </div>



</form>



