@model BillSystemHsenid.Models.Items
@{
    ViewData["Title"] = "Create Item";
}
<h3>Create Item</h3>
<form typeof="post" asp-action="Create">
        <div class="mt-3">
        <label asp-for="ItemName">Items</label>
        <input type="text" asp-for="ItemName" class="form-control" />
        </div>
        <div class="mt-3">
            <label asp-for="Quantity">Quantity</label>
            <input type="number" asp-for="Quantity" class="form-control" />
        </div>
        <div class="mt-3">
            <label asp-for="Price">Price</label>
            <input type="number" asp-for="Price" class="form-control" />
        </div>
        <div class="mt-3">
            <label asp-for="Amount">Amount</label>
            <input type="number" asp-for="Amount" class="form-control" />
        </div>
    <div class="mt-3">
       <button type="submit" class="btn btn-primary">Create</button>
        <button type="reset" class="btn btn-primary m-2">Clear</button>
    </div>



</form>
